* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

.nav_tabs {
    width: 450px;
    height: 400px;
    margin: 100px auto;
    background-color: #fff;
    position: relative;
}

.nav_tabs ul {
    list-style: none;
}

.nav_tabs ul li {
    float: left;
    width: 150px;
}

.nav_tabs label {
    width: 150px;
    padding: 25px;
    background-color: #363b48;
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.rd_tabs:checked~label {
    /*  background-color: #e54e43; */
    background-color: green;
}

.rd_tabs {
    display: none;
}

.content {
    padding: 5%;
    border-top: 5px solid yellowgreen;
    background-color: #fff;
    display: none;
    position: absolute;
    width: 450px;
    left: 0;
    box-sizing: border-box;
    text-align: center;
}

.rd_tabs:checked~.content {
    display: block;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    margin-bottom: 3%;
    padding: 2%;
}

.disable {
    text-align: right;
    font-size: 80%;
    color: #999;
    margin-bottom: 2%;
}

input[type="checkbox"] {
    vertical-align: middle;
}

input[type="button"] {
    width: 19%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 2%;
}